.main-body-container {
    background: #000;
    color: white;
    height: 500vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-title {
    position: fixed;
    top: 25%;
    width: 100vw;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: clamp(2rem, 10vw, 14rem);
}